$color-0: rgb(255, 255, 255);
$color-1: rgb(0, 0, 0);
$color-2: rgb(242, 242, 242);
$color-3: rgb(227, 227, 227);
// $color-2: rgb(119, 119, 119);
// $color-2: rgb(119, 119, 119);
// $color-3: rgb(170, 170, 170);
// $color-4: rgb(204, 204, 204);
// $color-5: rgb(238, 238, 238);
//
// @mixin box-shadow-bottom($color: $color-1) {
//   box-shadow: 0 0 4px rgba($color-1, .2);
// }

html.palette-1 {

  body {

    a {
      color: rgba($color-1, 1);
    }

    > header {
      background-color: color('teal', 'base');
      color: rgba($color-0, 1);
    }

    > footer {
      background-color: rgba($color-2, 1);
      min-height: 20rem;

      > div {
        border-color: transparent;
        border-style: solid;
        border-width: .1rem;

        &:not(:last-of-type) {
          // border-right-color: color('teal', 'base');
          border-right-color: rgba($color-3, 1);
        }

      }

    }

    .master {

      > nav {
        @include z-depth-sidebar;
        background-color: rgba($color-0, 1);
        color: color('teal', 'base');

        a,
        button {
          $color-1: rgb(0, 0, 0);
        }

      }

    }

  }

}
