$frame-width: 5rem;
$frame-height: 5rem;

$header-height: 7rem;

html.layout-1 {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > footer {
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin-top: 2rem;
    }

    > header {
      align-items: center;
      display: flex;
      flex: none;
      left: 0;
      height: $header-height;
      justify-content: space-between;
      padding: 1rem;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 6;

      button {
        line-height: 1;
        order: -1;
        transform: translateZ(210px);
        z-index: 210;

        &:before {
          font-size: 4.2rem;
        }

      }

    }

    .master {
      display: flex;
      flex: 1 0 auto; /* 2 */
      margin-top: $header-height;

      // > aside,
      > nav,
      > main {
        padding-top: 1rem;
      }

      > nav {
        /* put the nav on the left */
        order: -1;
      }

      // > aside,
      > nav {
        align-items: center;
        display: flex;
        flex: 1;
        // padding: 1rem;
      }

      > main {
        flex: 1;
        flex-wrap: wrap;

        > article {
          flex: 1;
        }

      }

      @media (max-width: 1023px) {
        flex-direction: column;

        // > aside,
        > nav {
          flex-direction: row;
          justify-content: center;

          a,
          button {
            margin: 0 1rem;
          }

        }

      }

      @media (min-width: 1024px) {
        // flex-direction: row;
        flex-direction: column;

        > main {
          display: flex;

          > article {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > header,
            > footer {
              width: 100%;
            }

            > .module {
              width: 50%;
            }

            > header,
            > footer,
            .module {
              margin: 0;
              padding: 1rem;
            }

          }

        }

        // > aside,
        > nav {
          flex: 0;
          flex-direction: column;
          justify-content: flex-start;
          height: 100vh;
          position: relative;
          top: -$header-height;
          transition-delay: 500ms;
          transition-duration: 500ms;
          transition-property: flex;

          > * {
            opacity: 0;
            transition-delay: 0ms;
            transition-duration: 500ms;
            transition-property: opacity;
          }

          &.open {
            flex: 0 0 30rem;
            transition-delay: 0ms;

            > * {
              opacity: 1;
              transition-delay: 500ms;
            }

          }

          a,
          button {
            margin: 1rem 0;
          }

        }

      }

    }

  }

}
