@mixin grid-flex($gutter-width: $grid-gutter-width) {
  // @include make-grid();
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 $gutter-width;
  padding: 0;

  [class^="col-"] {
    display: flex;
    flex: 1;

    &.padded {
      padding: $gutter-width;
    }

  }

}
