html.template-error {

  &-400 {
    background: purple;
  }

  &-401 {
    background: blue;
  }

  &-403 {
    background: orange;
  }

  &-404 {
    background: green;
  }

  &-500 {
    background: red;
  }

}
