.dialogs {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;

  & > dialog {
    pointer-events: auto;
    position: static;
  }

  & > dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
  }

  & > figure {
    height: 20vh;
  }

}
