html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  > header,
  > footer {
    align-items: center;
    display: flex;
    flex: none; /* 2 */
    justify-content: center;
    padding: 1rem;
  }

  .master {
    display: flex;
    flex: 1 0 auto; /* 2 */

    > nav {
      /* put the nav on the left */
      order: -1;
    }

    > aside,
    > nav {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
      // padding: 1rem;
    }

    > main {
      flex: 1;

      > article {
        flex: 1;
      }

    }

    @media (max-width: 1023px) {
      flex-direction: column;

      > aside,
      > nav {
        flex-direction: row;

        button {
          margin: 0 1rem;
        }

      }

    }

    @media (min-width: 1024px) {
      flex-direction: row;

      > main {
        display: flex;

        > article {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          > header,
          > footer {
            width: 100%;

            // h1,
            // h2,
            // h3,
            // h4,
            // h5,
            // h6 {
            //   margin: 0;
            // }

          }

          > .module {
            width: 50%;
          }

          > header,
          > footer,
          .module {
            margin: 0;
            padding: 1rem;
          }

        }

      }

      > aside,
      > nav {
        // flex: 0 0 10rem;
        flex: none;
        flex-direction: column;
        overflow-x: hidden;
        transition-duration: 0.5s;
        transition-property: width;
        width: 0;

        > * {
          opacity: 0;
          transition-duration: 0.25s;
          transition-property: opacity;
        }

        &.open {
          width: 20rem;

          > * {
            opacity: 1;
            transition-duration: 1.5s;
          }

        }

        button {
          margin: 1rem 0;
        }

      }

    }

  }

}
