<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="home-page" noscript>

  <template>

  <content>

    <h2><%= title %></h2>
<!--
    <figure class="card col-sm-6 col-md-4 col-lg-3">
      <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/tablet-2.jpg')">
        <span class="card-title">Card Title</span>
      </div>
      <figcaption class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </figcaption>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href='#'>This is a link</a>
      </div>
    </figure>

    <a is="pushstate-anchor" href="/demo">Oh</a>
-->
</content>
  </template>

</polymer-element>
