<h2><%= title %></h2>

<materialize-card class="col-sm-6 col-md-4 col-lg-3" src="http://assets.cookadlib.com/sample/promos/chef.jpg" alt="Card alt 2" title="Card title 2" caption="I am a very simple card. I am good at containing small bits of information.
I am convenient because I require little markup to use effectively.">
  <a href="#">This is a link</a>
  <a href='#'>This is a link</a>
</materialize-card>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/chef.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/couple.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/tablet-1.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/tablet-2.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/chef.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/couple.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/tablet-1.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>

<figure class="card col-sm-6 col-md-4 col-lg-3">
  <div class="card-image" style="background-image: url('http://assets.cookadlib.com/sample/promos/tablet-2.jpg')">
    <span class="card-title">Card Title</span>
  </div>
  <figcaption class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </figcaption>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href='#'>This is a link</a>
  </div>
</figure>
