<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="demo-page" noscript>

  <template>

    <h2><%= title %></h2>

    <span></span>

    <img src="http://www.fimfiction-static.net/images/story_images/227368.jpg?1415220040" alt="Plinkett" />

  </template>

</polymer-element>
