<meta charset="utf-8" />

<title><%= title %> - <%= site %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%= description %>" />
<meta name="author" content="" />

<link rel="icon" href="/boilerplate/images/icons/favicon.ico" />

<link rel="stylesheet" href="/boilerplate/styles/boilerplate.css" />

<link rel="alternate" href="/rss.xml" title="<%= site %> RSS" type="application/rss+xml" />

<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: [
        'Roboto:500,400italic,300,700,300italic,400:latin',
        'Syncopate'
      ]
    }
  });
</script>

<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>

<link rel="import" href="/bower_components/app-router/app-router.html">
<link rel="import" href="/bower_components/ajax-form/ajax-form.html" />
<link rel="import" href="/bower_components/core-ajax/core-ajax.html" />
<link rel="import" href="/bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<!--
<link rel="import" href="/custom_components/materialize-card/materialize-card.html" />
-->
