$gutter-width: 1rem;

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 $gutter-width;
  padding: 0;

  .cell {
    display: flex;
    flex: 1;

    &.padded {
      padding: $gutter-width;
    }

  }

}
